@model terminarz_projekt.Models.Osoby

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Osoby</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.drugie_imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.drugie_imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.plec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.plec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_urodzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_urodzenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nr_telefonu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nr_telefonu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hasło)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hasło)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
