@model IEnumerable<terminarz_projekt.Models.Osoby>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.drugie_imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.plec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_urodzenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nr_telefonu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hasło)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.drugie_imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.plec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_urodzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nr_telefonu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hasło)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="btn">
    <form asp-controller="Calendar" asp-action="Search">
        <input type="submit" value="Przejdź do terminarza, aby edytować terminy" class="btn btn-success" />
    </form>
</div>
<a asp-action="LoginPanel">Wyloguj</a>
</div>