@using terminarz_projekt.Data;
@model IEnumerable<terminarz_projekt.Models.CalendarModel>


@{
    ViewData["Title"] = "SearchLessonKierowniku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Zarządzaj kierowniku!</h1>

<p>
    <a asp-action="Create"></a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.typ_zajec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pracownik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dzien_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.godzina_od)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.godzina_do)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.typ_zajec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pracownik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dzien_data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.godzina_od)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.godzina_do)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }



    </tbody>
</table>

<div class="btn">
    <form asp-controller="Calendar" asp-action="Create">
        <input type="submit" value="Dodaj nowy termin" class="btn btn-success" />
    </form>
</div>
<div>
    <a asp-controller="Register" asp-action="LoginPanel">Wyloguj</a>
</div>
